<div th:fragment="top">

<div class="navContainer">
    <div class="logo">
        <span><a href="/">HappyPaws</a></span>
    </div>

    <ul class="mainNav">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/appointments">Programari</a></li>
        <li><a href="/services">Servicii</a></li>
        <li><a href="/gallery">Galerie</a></li>
    </ul>

    <ul class="secondNav">
        <li><a href="/login">Creeaza un cont de client</a></li>
        <li><a href="/login">Intra in cont</a></li>
        <li><a href="/login">Logout</a></li>
    </ul>
</div>
</div>