<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/public/css/styles.css}" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="font-body font-semibold w-full text-white"><!-- content wrapper-->
        <div class="bg-primary bg-opacity-100 w-full relative">
            <nav>
                <h1 class="text-5xl mx-16 pt-7 pb-7 text-black">
                    <a href="/">Happy Paws</a>
                </h1>
                <div>
                    <ul class="gird grid-cols-2 flex absolute top-0 right-20">
                        <li>
                            <a href="#">
                                <span>Creeaza un cont de client</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Intra in cont</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="gird grid-cols-4 flex justify-end absolute right-0 top-10">
                    <li>
                        <a href="#">
                            <span>Galerie</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Servicii</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Programari</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div><!-- end nav-->
        
        <div>
            <main>
                <div>
                    <div class="bg-green-600 w-full h-screen">
                        <img class="object-cover overflow-clip w-full h-full" src="../photos/dog_bg.png" alt="">
                        <span class="absolute flex justify-center right-0">Cum se simte prietenul tau?</span>
                    </div>
                </div>

            </main>
        </div>
    </div>
</body>
</html>